body.dark .bg { color: #f8f8f2; background-color: #282a36; }
body.dark .chroma { color: #f8f8f2; background-color: #282a36; }
body.dark .chroma .x {  }
body.dark .chroma .err {  }
body.dark .chroma .cl {  }
body.dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
body.dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
body.dark .chroma .hl { background-color: #ffffcc }
body.dark .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
body.dark .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
body.dark .chroma .line { display: flex; }
body.dark .chroma .k { color: #ff79c6 }
body.dark .chroma .kc { color: #ff79c6 }
body.dark .chroma .kd { color: #8be9fd; font-style: italic }
body.dark .chroma .kn { color: #ff79c6 }
body.dark .chroma .kp { color: #ff79c6 }
body.dark .chroma .kr { color: #ff79c6 }
body.dark .chroma .kt { color: #8be9fd }
body.dark .chroma .n {  }
body.dark .chroma .na { color: #50fa7b }
body.dark .chroma .nb { color: #8be9fd; font-style: italic }
body.dark .chroma .bp {  }
body.dark .chroma .nc { color: #50fa7b }
body.dark .chroma .no {  }
body.dark .chroma .nd {  }
body.dark .chroma .ni {  }
body.dark .chroma .ne {  }
body.dark .chroma .nf { color: #50fa7b }
body.dark .chroma .fm {  }
body.dark .chroma .nl { color: #8be9fd; font-style: italic }
body.dark .chroma .nn {  }
body.dark .chroma .nx {  }
body.dark .chroma .py {  }
body.dark .chroma .nt { color: #ff79c6 }
body.dark .chroma .nv { color: #8be9fd; font-style: italic }
body.dark .chroma .vc { color: #8be9fd; font-style: italic }
body.dark .chroma .vg { color: #8be9fd; font-style: italic }
body.dark .chroma .vi { color: #8be9fd; font-style: italic }
body.dark .chroma .vm {  }
body.dark .chroma .l {  }
body.dark .chroma .ld {  }
body.dark .chroma .s { color: #f1fa8c }
body.dark .chroma .sa { color: #f1fa8c }
body.dark .chroma .sb { color: #f1fa8c }
body.dark .chroma .sc { color: #f1fa8c }
body.dark .chroma .dl { color: #f1fa8c }
body.dark .chroma .sd { color: #f1fa8c }
body.dark .chroma .s2 { color: #f1fa8c }
body.dark .chroma .se { color: #f1fa8c }
body.dark .chroma .sh { color: #f1fa8c }
body.dark .chroma .si { color: #f1fa8c }
body.dark .chroma .sx { color: #f1fa8c }
body.dark .chroma .sr { color: #f1fa8c }
body.dark .chroma .s1 { color: #f1fa8c }
body.dark .chroma .ss { color: #f1fa8c }
body.dark .chroma .m { color: #bd93f9 }
body.dark .chroma .mb { color: #bd93f9 }
body.dark .chroma .mf { color: #bd93f9 }
body.dark .chroma .mh { color: #bd93f9 }
body.dark .chroma .mi { color: #bd93f9 }
body.dark .chroma .il { color: #bd93f9 }
body.dark .chroma .mo { color: #bd93f9 }
body.dark .chroma .o { color: #ff79c6 }
body.dark .chroma .ow { color: #ff79c6 }
body.dark .chroma .p {  }
body.dark .chroma .c { color: #6272a4 }
body.dark .chroma .ch { color: #6272a4 }
body.dark .chroma .cm { color: #6272a4 }
body.dark .chroma .c1 { color: #6272a4 }
body.dark .chroma .cs { color: #6272a4 }
body.dark .chroma .cp { color: #ff79c6 }
body.dark .chroma .cpf { color: #ff79c6 }
body.dark .chroma .g {  }
body.dark .chroma .gd { color: #ff5555 }
body.dark .chroma .ge { text-decoration: underline }
body.dark .chroma .gr {  }
body.dark .chroma .gh { font-weight: bold }
body.dark .chroma .gi { color: #50fa7b; font-weight: bold }
body.dark .chroma .go { color: #44475a }
body.dark .chroma .gp {  }
body.dark .chroma .gs {  }
body.dark .chroma .gu { font-weight: bold }
body.dark .chroma .gt {  }
body.dark .chroma .gl { text-decoration: underline }
body.dark .chroma .w {  }
